[submodule "deps/hadesmem"]
	path = deps/hadesmem
	url = git@github.com:phlip9/hadesmem.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "deps/doctest"]
	path = deps/doctest
	url = git@github.com:onqtam/doctest.git
